<div id="mini1_container">

    <!-- <div id="head">
      <a href="" class="country">Date by country </a>
      <a href="" class="sector">Data by sector</a>
      <a href="" class="Pan_afr">PanAfrica Data</a>
    </div> -->
    <span class="Health">
        <!-- <h3>Health</h3> -->
        <select name="tracker" style="border: none;
              width: 100%;
              color: navy;font-size: 20px;
              font-weight: bold;" (change)="onTrackerChange($event)">
            <option value="health">Health</option>
            <option value="demography">Demography</option>
            <option value="economics">Economics</option>
            <option value="governance">Governance</option>
            <option value="food">Food</option>
        </select>
        <!-- <img src="image/icons8_sort_down_24px_1.png" class="sort_down1" alt=""> -->
    </span>


    <span class="Total confirmed cases">
        <!-- <h3>Health</h3> -->
        <select name="tracker" style="border: none;
              width: 100%;
              color: navy;font-size: 20px;
              font-weight: bold;" (change)="onSubTrackerChanged($event)">

            <option *ngFor="let dt of displayOptions;" value="{{dt}}">{{dt}}</option>
            <!-- <option value="health">Population</option>
            <option value="health">Health</option>
            <option value="health">Health</option>
            <option value="health">Health</option> -->
        </select>
        <!-- <img src="image/icons8_sort_down_24px_1.png" class="sort_down1" alt=""> -->
    </span>
</div>

<div class="main3_container">
    <!-- <div echarts [options]="options" class="demo-chart" (chartInit)="onChartEvent($event, 'chartInit')"
        (chartClick)="onChartEvent($event, 'chartClick')" (chartDblClick)="onChartEvent($event, 'chartDblClick')"
        (chartMouseDown)="onChartEvent($event, 'chartMouseDown')" (chartMouseUp)="onChartEvent($event, 'chartMouseUp')"
        (chartMouseOver)="onChartEvent($event, 'chartMouseOver')"
        (chartMouseOut)="onChartEvent($event, 'chartMouseOut')"
        (chartGlobalOut)="onChartEvent($event, 'chartGlobalOut')"
        (chartContextMenu)="onChartEvent($event, 'chartContextMenu')"
        (chartDataZoom)="onChartEvent($event, 'chartDataZoom')">
    </div> -->
    <!-- Chart -->
    <div class="chart" style="height: 500px;">
        <canvas id="chart-opts" class="chart-canvas"></canvas>
    </div>
</div>

<footer>
    <section>
      <h3>{{source}}</h3>
    </section>
  </footer>

<div class="main3_container" style="display: none;">
    <!-- <div id="head">
      <a href="" class="country">Date by country </a>
      <a href="" class="sector">Data by sector</a>
      <a href="" class="Pan_afr">PanAfrica Data</a>
    </div> -->

    <section id="DATA">
        <span>
            <h3>indicator</h3>
            <h4>Value</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>
        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

        <span>
            <h3>Total Confirmed Cases</h3>
            <h4>4.19</h4>
        </span>

    </section>


</div>