header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background: rgb(252, 252, 253);
    box-shadow: 1px 1px rgb(207, 207, 207);

    /* header responiveness */
}
@media screen and (max-width: 380px) {
    header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    width: 100%;
    background: rgb(252, 252, 253);
    box-shadow: 1px 1px rgb(207, 207, 207);
    }
}

header img{
    width: 170px;
    height: 40px;
    margin-left: 20px;
}

@media screen and (max-width: 380px) {
    header img{
        width: 100px;
        height: 30px;
        margin-left: 10px;
    }
      
}

header h2{
    /* color: grey; */
    margin-right: 0px;
    
}

@media screen and (max-width: 380px) {
    header h2{
        /* color: grey; */
        margin-left: 8px;
        font-size: 17px;
    }   
}

body {
    height: 100vh;
    /* overflow: hidden; */
    font-family: 'Montserrat', sans-serif;
    background: rgb(8, 8, 92);
}
@media screen and (max-width: 380px) {
    body {
        height: 100vh;
        /* overflow: hidden; */
        font-family: 'Montserrat', sans-serif;
        background: rgb(8, 8, 92);
    }   
}

p {
    font-family: 'Montserrat', sans-serif;
}

.container{
    height: 100vh; 
    display: flex;
    flex-direction: row;  
}

@media screen and (max-width: 380px) {
    .container{
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column;  
    }   
}

.ctr_map{
    width: 100vw;
    /* box-shadow: 0px 0px 0px 0.3px rgb(160, 157, 157); */
    /* background: #42bfed;  */
    border-right: none; 
}
@media screen and (max-width: 380px) {
    .ctr_map{
        width: 100%;
        /* box-shadow: 0px 0px 0px 0.3px rgb(160, 157, 157); */
        background: #42bfed; 
        border-right: none;
        display: block; 
    }   
}

.ctr_map .map_lcatn{
    width: 100%;
    height: 40px;
    margin-bottom: 0;
    background: rgb(8, 8, 92);
    box-shadow: 0px 0px 0px 0.1px rgb(160, 157, 157);
    border: none;
}
@media screen and (max-width: 380px) {
    .ctr_map .map_lcatn{
        width: 100%;
        height: 40px;
        margin-bottom: 0;
        /* background: #f8f8f5; */
        box-shadow: 0px 0px 0px 0.1px rgb(160, 157, 157);
        border: none;
        display: block;
    }  
}

.ctr_map .map_lcatn h1{
    color: green;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 20px;
    
}
@media screen and (max-width: 380px) {
    .ctr_map .map_lcatn h1{
        color: green;
        font-size: 24px;
        padding-top: 5px;
        padding-left: 20px;
        display: block;
    }   
}


.ctr_map .map{
    width: 100vw;     
}

@media screen and (max-width: 380px) {
    .ctr_map .map{
        width: 60vw; 
        display: block;    
    }  
}
.sidebar{
    width: 40vw;
    padding: 10px;
    /* background: rgb(248, 248, 245); */
    box-shadow: none; 
}
@media screen and (max-width: 380px) {
    .sidebar{
        height: 100%;
        width: 100%;
        padding: 10px;
        /* background: rgb(248, 248, 245); */
        box-shadow: none; 
    }
}

.sidebar #worldwide{
    border-bottom: 1px solid grey;  
}
@media screen and (max-width: 380px) {
    .sidebar #worldwide{
        border-bottom: 1px solid grey;  
    }   
}

.sidebar #worldwide h4{
    font-size: 15px;
    font-weight: 400;  
}

@media screen and (max-width: 380px) {
    .sidebar #worldwide h4{
        font-size: 15px;
        font-weight: 400;  
    }   
}

.sidebar #worldwide h5{
    font-weight: 500;
    color:green;
    margin-left: 5px;
    font-size: 15px;
}

@media screen and (max-width: 380px) {
    .sidebar #worldwide h5{
        font-weight: 500;
        color:green;
        margin-left: 5px;
        font-size: 15px;
    }  
}

.sidebar #worldwide h6{
  color: rgb(87, 85, 85);  
}

@media screen and (max-width: 380px) {
    .sidebar #worldwide h6{
        color: rgb(0, 0, 0); 
        font-size: 15px; 
      }   
}

.sidebar .Africa{
   margin-top: 10px;
}
@media screen and (max-width: 380px) {
    .sidebar .Africa{
        margin-top: 10px;
     }    
}

.sidebar .Africa h3{
    font-size: 15px;
    font-weight: 400;   
    color: rgb(0, 0, 0); 
}


.sidebar .Africa h4{
    font-weight: 500;
    color: green;
    font-size: 15px;
}

#Nigeria{
    margin-top: 20px; 
    border-bottom: 1px solid grey;
}

#Nigeria h4{
    font-weight: 400;
    color: green;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 0px;
    margin-left: 0px;
}

#Nigeria h3{
    padding: 0px;
    font-weight: 400;
    color: rgb(73, 73, 73);
    font-size: 15px;
    margin-bottom: 10px;
}

.sidebar input{
    margin-top: 5px;
    padding: 7px;
    border: 1px solid rgb(216, 214, 214);
    outline: none;
    border-right: none;
    margin-left: 5px;
    background:#efefef;
}
@media screen and (max-width: 380px) {
    .sidebar input{
        margin-top: 5px;
        padding: 5px;
        border: 1px solid rgb(216, 214, 214);
        outline: none;
        margin-left: 5px;
        background:#efefef;
        border-radius: 3px;
    }   
}

.submit{
    padding: 7px;
    outline: none;
    border: 1px solid rgb(216, 214, 214) ;
    border-left: none;
    color: rgb(73, 75, 73);
    outline: none;
}
@media screen and (max-width: 380px) {
    .submit{
        padding: 5px;
        outline: none;
        border: 1px solid rgb(216, 214, 214) ;
        color: rgb(255, 255, 255);
        outline: none;
        background: rgb(6, 123, 201);
        cursor: pointer;
       
    }   
}

.loading-sp {
    display: none;
    outline: none;
}
.lbl{
    min-width:50px ;
    outline: none;
}

.active_case{
    display: flex;
    justify-content: space-between;
}

.active_case h5{
    margin-right: 20px;
    margin-top: 5px;
    font-size: 13px;
}

.active_case li{
    list-style: square;
    font-size: 15px;
}

.cases{
    margin: 10px;
    background: rgb(239, 240, 240);
    box-shadow: 0.5px 0.5px rgb(161, 160, 160);   
}

.cases .active{
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
    margin-top: 20px;
}

.active h5{
    color: red;
    font-size: 13px;
    padding-right: 10px;
}

.active h4{
    color: red;
    font-size: 15px;
}

.cases .recovered{
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
}

.recovered h4{
    color: green;
    font-size: 15px;
}

.recovered h5{
    color: green;
    font-size: 13px;
    padding-right: 10px;
}

.cases .deaths{
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding: 7px;
}

.deaths h4{
    color: black;
    font-size: 15px;
}

.deaths h5{
    color: black;
    font-size: 13px;
    padding-right: 10px;
}




footer{
    height: 80px;
    width: 100%;
    /* background: #f8f8f5; */
    margin-top: 20px;
}
@media screen and (max-width: 380px) {
    footer{
        height: 80px;
        width: 100%;
        background: #f8f8f5;
        margin-top: 20px;
    }  
}

footer section h3{
    text-align: right;
   
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight:300;
    font-size: 10px;
    padding-top: 35px;
    color: white;
}
@media screen and (max-width: 380px) {
    footer section h3{
        text-align: center;
        margin-bottom: 10px;
        margin-left: 10px;
        font-weight:300;
        font-size: 10px;
        padding-top: 35px;
    }   
}







