header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background: white;
    box-shadow: 1px 1px rgb(207, 207, 207);

    /* header responiveness */
}
@media screen and (max-width: 480px) {
    header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    width: 100%;
    background: white;
    box-shadow: 1px 1px rgb(207, 207, 207);
    }
}

header img{
    width: 170px;
    height: 40px;
    margin-left: 20px;
}

@media screen and (max-width: 480px) {
    header img{
        width: 100px;
        height: 30px;
        margin-left: 10px;
    }
      
}

header h2{
    color: #081248;
    margin-right: 40px;
    
}

@media screen and (max-width: 480px) {
    header h2{
        color: #081248;
        margin-left: 8px;
        font-size: 17px;
    }   
}

body {
    height: 100vh;
    /* overflow: hidden; */
    font-family: 'Montserrat', sans-serif;
    background: white;
}
@media screen and (max-width: 480px) {
    body {
        height: 100vh;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
        background: white;
    }   
}


p {
    font-family: 'Montserrat', sans-serif;
}

.container{
    height: 100vh; 
    padding: none;  
}

@media screen and (max-width: 480px) {
    .container{
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column;  
    }   
}



#mini_container{
    
    margin-top:30px ;
    background-color: white;
}

@media screen and (max-width: 480px){
    #mini_container{
        margin-top:0px ;
        background-color: white;   
    }
}

#head{ 
    padding: 30px;
    margin-left: 60px;
}
@media screen and (max-width: 480px){
    #head{
        padding: 40px;
        margin-left: 10px; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

#head .country{
    padding: 12px 20px;
    background-color: white;
    border: 1px solid navy;
    color: #000000b5;
    font-weight: bold;
    outline: none;
    text-decoration: none;
}

@media screen and (max-width: 480px){
    #head .country{
        padding: 12px 20px;
        background-color:white;
        border: 1px solid navy;
        color: white;
        font-weight: bold;
        outline: none;
        text-decoration: none;  
    }
}

#head .country:hover{
    background-color: #00ffd9;
}


#head .sector{
    padding: 12px 20px;
    border: 1px solid navy;
    color: #000000b5;
    font-weight: bold;
    margin-left: 5px;
    outline: none;
    text-decoration: none;
}

@media screen and (max-width: 480px){
    #head .sector{
        padding: 12px 26px;
        border: 1px solid navy;
        color: #000000b5;
        font-weight: bold;
        margin-left: 1px;
        margin-top: 10px;
        outline: none;
        text-decoration: none;  
    }
}

#head .sector:hover{
    background-color: #00ffd9;
    color: #000000b5;
}


#head .Pan_afr{
    padding: 12px 20px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    outline: none;
    text-decoration: none;  
}

@media screen and (max-width: 480px){
    #head .Pan_afr{
        padding: 12px 23px;
        border: 1px solid white;
        color: white;
        font-weight: bold;
        margin-left: 3px;
        margin-top: 10px;
        outline: none;
        text-decoration: none;   
    }  
}

#head .Pan_afr:hover{
    background-color: #00ffd9; 
    color: #000000b5; 
}


#mini_container section {
    margin-top: 30px;
    color: white;
    font-size: 20px;
    margin-left: 30px;
}

@media screen and (max-width: 480px){
    #mini_container section{
        margin-top: 10px;
        color: white;
        font-size: 15px;
        text-align: center; 
        margin-left: 0px;
    }
}

#mini_container section h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
  
}

@media screen and (max-width: 480px){
    #mini_container section h2{
        color: white;
        font-size: 20px;
        font-weight: bold;
      
    }
}

#mini_container section h3{
    color: #000000b5;
    font-size: 20px;
    font-weight: 500;
    line-height: 1px;
}

@media screen and (max-width: 480px){
    #mini_container section h3{
        margin-top: 40px;
        color: #000000b5;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }
}

#blue_map{
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}

@media screen and (max-width: 480px){
    #blue_map{
        width: 60%;
        margin-left: 20%;
        margin-top: 20px;
    }
}

#mini1_container{
    margin-top:30px ;
    background-color: white;
}

@media screen and (max-width: 480px){
    #mini1_container{
        margin-top:0px ;
        background-color: white; 
        /* #081248; */
    } 
}

.Health{
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
    margin-left: 120px; 
    margin-top: 50px;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
option{
    /* background-color: #081248; */
}

@media screen and (max-width: 480px){
    .Health{
        /* width: 60%; */
        height: 40px;
        border-bottom:1px solid white;
        margin-left: 70px; 
        margin-top: 10px;
    } 


}

.Health h3{
    color: white;
    margin-top: 10px;
}

@media screen and (max-width: 480px){
    .Health h3{
        color: white;
        margin-top: 10px;
        margin-left: 10%;
    }
}


.Total{
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
    margin-left: 120px; 
    margin-top: 20px;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 480px){
    .Total{
        width: 60%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom:1px solid white;
        margin-left: 70px; 
        margin-top: 10px;
    }  
}

.Total h3{
    color: white;  
}

@media screen and (max-width: 480px){
    .Total h3{
        color: white;
        margin-top: 10px;
        margin-left:10px;
        font-size: 18px;
    }
}


.Total img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    
}


@media screen and (max-width: 480px){
    .Total img{
        width: 30px;
        height: 30px;
        margin-top: -2px;
        margin-right: 50%;
        display: none;
   }
}
.main1_map{
    margin-top: 20px;
}

.main1_map img{
    width: 300px;
    margin-top: 40px; 
    margin-left: 22%; 
}

@media screen and (max-width: 480px){
    .main1_map img{
    width: 230px;
    margin-left: 20%;
    margin-top: 20px;
   }
}


.main3_container{
    margin-top:30px ;
    background-color: white;
    margin-left: 70px;
    margin-right: 70px;  
}

#DATA{
    margin-top: 30px;
}

#DATA span{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 10px; */
    border-bottom: 1px solid white;
    margin-left: 120px; 
    
}

@media screen and (max-width: 480px){
    #DATA span{
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding: 10px; */
        border-bottom: 1px solid white;
        margin-left: 20px; 
        font-size: 10px;
        
    }

}


#DATA span, h3, h4 {
    color: white;
}

#DATA span h4 {
    color: white;
   margin-right: 20%;
}


footer{
    height: 80px;
    width: 100%;
    background: white;
    margin-top: 20px;
}
@media screen and (max-width: 480px) {
    footer{
        height: 80px;
        width: 100%;
        background: white;
        margin-top: 20px;
    }  
}

footer section h3{
    text-align: left;
   
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight:300;
    font-size: 10px;
    padding-top: 35px;
}
@media screen and (max-width: 480px) {
    footer section h3{
        text-align: center;
        margin-bottom: 10px;
        margin-left: 10px;
        font-weight:300;
        font-size: 10px;
        padding-top: 35px;
    }   
}












